*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner{
    width:100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(background1.jpg);
    background-size:cover;
    background-position: center;


}
.navbar
{
   width: 85%;
    margin: auto;
    padding:35px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width:80px;
    cursor: pointer; 
}

.navbar ul li{
    list-style: none;
    display: inline;
    margin: 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.navbar ul li::after{
content: '';
width: 0px;
height: 3px;
background: #009688;
position:absolute;
left: 0;
bottom: -10px;
transition: 0.5s;

}

.navbar ul li:hover::after{
    width: 100%;
 }
 
.content
{
    color: white;
    text-align: center;
    top: 50%;
    position: absolute;
    width: 100%;
    transform: translateY(-50%);

}

.content h1{
    font-size: 70px;
    margin-top: 80px;
    
}

.content p{
    font-weight: 100;
    margin: 20px ;
    line-height: 25px;
}

button{
    
    padding: 15px ;
    margin:20px 10px;
    border-radius: 25px ;
    font-weight: bold;
    background:transparent;
    border: 2px #009688 solid;
    width: 200px;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    
}
span{
    width: 0; 
    height: 100%;
    border-radius: 25px;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1 ;
    transition: 0.5s;
}

button:hover span{
    width:100%;

}

border:hover {
    border: none;
}